---
import { ui } from '@/i18n/ui'
import { getPageInfo } from '@/utils/page'

const { currentLang, isHome, isPost, isTag, isAbout, isProjects, isShares, getLocalizedPath } = getPageInfo(Astro.url.pathname)
const currentUI = ui[currentLang as keyof typeof ui] ?? {}
const { class: className } = Astro.props

const isPostActive = isHome || isPost
const isTagActive = isTag
const isProjectsActive = isProjects
const isSharesActive = isShares
const isAboutActive = isAbout

function getNavItemClass(isActive: boolean) {
  return isActive
    ? 'highlight-static c-primary font-bold after:bottom-0.7em'
    : 'highlight-hover transition-[colors,font-weight] after:bottom-0.7em hover:(c-primary font-bold)'
}

const navItems = [
  {
    href: '/',
    label: currentUI.posts,
    className: getNavItemClass(isPostActive),
  },
  {
    href: '/tags/',
    label: currentUI.tags,
    className: getNavItemClass(isTagActive),
  },
  {
    href: '/projects/',
    label: currentUI.projects,
    className: getNavItemClass(isProjectsActive),
  },
  {
    href: '/shares/',
    label: currentUI.shares,
    className: getNavItemClass(isSharesActive),
  },
  {
    href: '/about/',
    label: currentUI.about,
    className: getNavItemClass(isAboutActive),
  },
]
---

<nav
  aria-label="Site Navigation"
  class:list={[
    className,
    isPost ? 'hidden lg:block' : '',
    'text-3.6 font-semibold leading-2.45em font-navbar',
    'lg:text-4 cjk:tracking-0.02em',
  ]}
>
  <ul class="flex flex-row gap-4">
    {navItems.map(item => (
      <li>
        <a
          href={getLocalizedPath(item.href)}
          class={item.className}
        >
          {item.label}
        </a>
      </li>
    ))}
  </ul>
</nav>

<script>
  const openSearchBtns = document.querySelectorAll('.js-open-search')
  openSearchBtns.forEach((btn) => {
    btn.addEventListener('click', () => {
      window.dispatchEvent(new CustomEvent('open-search'))
    })
  })
</script>
